/* Styles */

/* COLORS */
:root {
    --black: #1B1F23;
    --white: #FAFAFA;
    --gray-01: #E1E4E8;
    --gray-02: #959DA5;
    --gray-03: #586069;
    --gray-04: #2F363D;
    --gray-05: #1B1F23;
}

/* TYPOGRAPHY */
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Regular.woff);
    font-weight: normal;
}
@font-face {
    font-family: 'SF-Text';
    src: url(../fonts/SF-Pro-Text-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'SF-Text';
    src: url(../fonts/SF-Pro-Text-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Text';
    src: url(../fonts/SF-Pro-Text-Regular.woff);
    font-weight: normal;
}

h1 {
    font-family: 'SF-Display';
    font-size: 36px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h2 {
    font-family: 'SF-Display';
    font-size: 36px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h3 {
    font-family: 'SF-Display';
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h4 {
    font-family: 'SF-Display';
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h5 {
    font-family: 'SF-Display';
    font-size: 16px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h6 {
    font-family: 'SF-Text';
    font-size: 14px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
p, li {
    font-family: 'SF-Display';
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.28s;
}
@media screen and (min-width: 450px) {
    h1 {
        font-size: calc(36px + 36* ((100vw - 320px) / 680));
    }
    h2 {
        font-size: calc(30px + 30 * ((100vw - 320px) / (680)));
    }
    h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
    }
    h4 {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
    h5 {
        font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
    }
    h6 {
        font-size: calc(14px + 2 * ((100vw - 320px) / (680)));
    }
    p, li {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
}
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 16px;
    }
    p, li {
        font-size: 24px;
    }
}
.medium {
    font-weight: 500;
}
.white {
    color: var(--white);
}
.link:hover {
    opaproject: 0.6;
    transition: 0.28s;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}
.c12 {
    grid-column: 2 /12;
}
.c6 {
    grid-column: 4 / 10;
}
.c6-left {
    grid-column: 1 / 7;
}
.c6-right {
    grid-column: 8 / 12;
}
.flex {
    display: flex;
    flex-direction: column;
}

/* IMAGES */
.img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
}
.shadow {
    box-shadow: 0 0 8px 0 var(--gray-01);
}

/* GLOBAL */ 
html {
    color: var(--black);
    background: var(--white);
    overflow-x: hidden;
    margin-top: 3vw;
    margin-bottom: 3vw;
    
    animation: 1.0s ease-in fade-in;
}
img {
    -webkit-user-drag: none;
}
video {
    -webkit-user-drag: none;
}
.section {
    margin-bottom: 3em;
}

/* HEADER */
.hero {
    position: relative;
}
.header {
    display: flex;
    flex-direction: row;
    line-height: 3em;
}
.dc-logo {
    height: 3em;
    transition: 1.5s ease-in-out;
}
.dc-logo:hover {
    transform: rotate(1800deg);
    transition: 15.0s linear;
}
.nav {
    line-height: 3em;
}
.option {
    display: inline;
    margin-left: 6vw;
    font-weight: normal;
    color: var(--gray-03);
}
.selected {
    font-weight: 500;
    color: var(--black);
}
.option:hover {
    color: var(--black);
}
.title {
    display: flex;
    flex-direction: row;
}
.emoji {
    height: 7vw;
    width: 7vw;
    margin-right: 0.5em;
    text-align: center
}

/* SUMMARY */
.summary {
    display: grid;
    grid-template-columns: 100%;
}
.summary-section {
    width: 100%;
}
.summary-item {
    margin-bottom: 1.5em;
}
.subtitle {
    margin-bottom: 0.75em;
    text-transform: uppercase;
    color: var(--gray-03);
}
.divider {
    border-top: 1px solid var(--gray-01);
    margin-bottom: 3em;
}
/* BODY */
.main {
    margin-top: 3em;
    margin-bottom: 3em;
}
.content {
    display: grid;
    grid-column-gap: 5vw;
    grid-template-columns: auto;
    grid-row-gap: 5vw;
    grid-template-rows: auto auto auto;
    position: relative;
    margin-top: 3em;
    margin-bottom: 3em;
}
.exp {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-radius: 0.625em;
}
.exp:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.exp-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.exp-title {
    vertical-align: top;
    text-align: left;
}
.exp-github {
    background: #24292e;

}
.exp-starbucks {
    background: #00704A;
}
.exp-ideo {
    background: #FFDB6D;
}
.exp-respond {
    background: linear-gradient(#FF7E7E, #FFB77E, #FFDE88);
}
.exp-tint {
    background: linear-gradient(135deg, #B2B2B2 0%, #666666 20%, #222222 20%);
}
.exp-nalp {
    background: #0052A5;
}

.github-logo {
    position: relative;
    margin-bottom: 1.5em;
    height: 17.5%;
    
    animation: 1.0s ease-in-out infinite infinite-bob;
}
.starbucks-heat-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.starbucks-heat {
    display: inline-flex;
    margin: 7.5%;
    width: 5vw;
    height: 65%;
    border-radius: 10em;
    background: var(--white);
}
.evaporate-1 {
    animation: 2.0s ease-in-out infinite evaporate;
    animation-delay: 0s;
}
.evaporate-2 {
    animation: 2.0s ease-in-out infinite evaporate;
    animation-delay: 0.5s;
}
.evaporate-3 {
    animation: 2.0s ease-in-out infinite evaporate;
    animation-delay: 1.0s;
}

.starbucks-logo {
    position: relative;
    margin-bottom: 1.5em;
    height: 17.5%;
}
.ideo-soundwaves-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
    height: 45%;
    justify-content: center;
    align-items: center;
}
.ideo-soundwaves {
    display: inline-flex;
    margin: 1.25%;
    width: 0.5em;
    height: 100%;
    border-radius: 10em;
    background: var(--gray-05);
}
.ideo-soundwaves-1 {
    height: 25%;
}
.ideo-soundwaves-2 {
    height: 35%;
}
.ideo-soundwaves-3 {
    height: 45%;
}
.ideo-soundwaves-4 {
    height: 55%;
}
.ideo-soundwaves-5 {
    height: 65%;
}
.ideo-soundwaves-6 {
    height: 75%;
}
.ideo-soundwaves-7 {
    height: 85%;
}
.respond-logo-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 1.5vw;
    height: 45%;
    align-items: center;
    justify-content: center;
}
.respond-logo {
    position: relative;
    margin: 1.5vw;
    width: 20%;
}
.tint-logo {
    position: relative;
    margin-bottom: 1.5em;
    height: 17.5%;
}
.nalp-logo {
    position: relative;
    margin-bottom: 1.5em;
    height: 17.5%;
}

/* FOOTER */
footer {
    margin-top: 3em;
    line-height: 4em;
    color: var(--gray-03);
}
footer p a:hover {
    color: var(--black);
}
.social {
    grid-column: 9/ 13;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.icons {
    display: inline-block;
    margin-left: 1.5vw;
    height: 1.5em;
    opaproject: 0.45;
    transition: 0.28s;
}
.icons:hover {
    opaproject: 1;
    transition: 0.28s;
}

/* BACK */
.back {
    position: fixed;
    bottom: 11%;
    left: 4em;
    z-index: 99;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    outline: none !important;
    background: url(../icons/chevron-left.svg) center / contain no-repeat;
    opaproject: 0.45;

    transition: 0.28s;
}
.back:hover {
    opaproject: 1;
    transition: 0.28s;
}
.back.no-display {
    opaproject: 0;
}

/* FORWARD */
.forward {
    position: fixed;
    bottom: 11%;
    left: 6.5em;
    z-index: 99;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    outline: none !important;
    background: url(../icons/chevron-right.svg) center / contain no-repeat;
    opaproject: 0.45;

    transition: 0.28s;
}
.forward:hover {
    opaproject: 1;
    transition: 0.28s;
}
.forward.no-display {
    opaproject: 0;
}

/* SCROLL TO TOP */
.scroll-to-top {
    position: fixed;
    bottom: 11%;
    right: 4em;
    z-index: 99;
    width: 1.5em;
    height:1.5em;
    cursor: pointer;
    outline: none !important;
    background: url(../icons/chevron-up.svg) center / contain no-repeat;
    opaproject: 0.45;

    transition: 0.28s;
}
.scroll-to-top:hover {
    opaproject: 1;
    transition: 0.28s;
}
.scroll-to-top.no-display {
    opaproject: 0;
}

/* ABOUT */
.avi {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: 15em;
    border-radius: 100em;
}
.juit-link {
    color: #B31B1B;
}

/* Projects */
.project-title {
    width: 90vw;
    background: url(../images/proffesional\ pic.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
}
.scroll {
    padding-top: 1.5em;
}
.photo {
    display: block;
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
    border-radius: 0.625vw;

    transition: 0.28s;
}
.photo:hover {
    transform: scale(1.01);
    transition: 0.28s;
}
.project {
    width: 90vw;
}
.project-ecom {
    background: url(../images/projects/Picture2.png) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
}
.project-budget {
    background: url(../images/projects/Picture1.png) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
}
.project-food {
    background: url(../images/projects/foodbuddy.png) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
}
.project-heymate {
    background: url(../images/projects/Picture3.png) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar {
    display: none;
}

/* INSTAGRAM */
.ig-title {
    background: linear-gradient(45deg, #F86737 0%, #B02999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5vw;
}
.ig-link {
    color: #C13584;
}

/* DORM ROOM FUND */
.drf-title {
    color: #0702D1;
    margin-bottom: 1.5vw;
}
.drf-link {
    color: #0702D1;
}

/* GITHUB */
.github-title {
    color: #24292E;
    margin-bottom: 1.5vw;
}
.github-link {
    color: #6F42C1;
}

/* STARBUCKS */
.starbucks-title {
    color: #00704A;
    margin-bottom: 1.5vw;
}
.starbucks-link {
    color: #00704A
}

/* IDEO */
.ideo-title {
    color: var(--black);
    margin-bottom: 1.5vw;
}
.ideo-link {
    color: #DBAB09;
}

/* RESPOND */
.respond-title {
    color: #B31D28;
    margin-bottom: 1.5vw;
}
.respond-link {
    color: #D60000;
}

/* TINT */
.tint-title {
    background: linear-gradient(135deg, #B2B2B2 0%, #666666 10%, #222222 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5vw;
}
.tint-link {
    color: var(--gray-03);
}

/* NALP */
.nalp-title {
    color: #0052A5;
    margin-bottom: 1.5vw;
}
.nalp-link {
    color: #0366D6;
}

/* RESPONSIVE */
.content-web {
    display: none;
}
.content-mobile {
    display: inherit;
}
@media screen and (min-width: 550px) {
    /* GLOBAL */
    .content-web {
        display: inline;
    }
    .content-mobile {
        display: none;
    }
    
    /* GRID */
    .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* HEADER */
    .hero {
        margin-bottom: 3em;
    }
    .header {
        margin-bottom: 1.5em;
        line-height: 3em;
        justify-content: space-between;
    }
    .dc-logo {
        margin-right: 1.5em;
        height: 3em;
    }
    .nav {
        margin-left: auto;
        line-height: 3em;
    }
    .option {
        margin-left: 3vw;
    }
    
    /* BODY */
    .content {
        grid-template-columns: auto auto;
    }
    .starbucks-heat {
        width: 2vw;
        height: 65%;
    }
    
    /* BACK, FORWARD, SCROLL TO TOP */
    .back, .forward, .scroll-to-top {
        bottom: 20%;
    }
    
    /* ABOUT */
    .avi {
        height: 35vw;
        width: 35vw;
    }
    /* Projects */
    .scroll {
        padding-top: 1.5em;
        padding-left: 0.5em;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .photo {
        display: inline;
        margin-right: 1.5vw;
        height: 40vw;
        width: auto;
        border-radius: 0.625vw;

        transition: 0.28s;
    }
}

@media screen and (min-width: 1000px) {
    /* GLOBAL */
    .content-web {
        display: inline;
    }
    
    /* HEADER */
    .selected {
        font-weight: 500;
        color: var(--black);
    }
    .emoji {
        margin-right: 1.5vw;
    }
    
    /* SUMMARY */
    .summary {
        grid-template-columns: 50% 50%;
    }
    
    /* BACK, FORWARD, SCROLL TO TOP */
    .back, .forward, .scroll-to-top {
        bottom: 11%;
    }
    
    /* ABOUT */
    .avi {
        margin-top: auto;
        margin-bottom: auto;
        height: 25em;
        width: 25em;
    }
}

/* ANIMATIONS */
@keyframes fade-in {
  0% {
    opaproject: 0;
    transform: translateY(0.05%);
  }
  100% {
    opaproject: 1;
    transform: translateY(0);
  }
}

@keyframes infinite-bob {
    0% {
        transform:translateY(5%)
    }
    50% {
        transform:translateY(2.5%)
    }
    100% {
        transform:translateY(5%)
    }
}

@keyframes evaporate {
    0% {
        transform:translateY(50%);
    }
    50% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(50%);
    }
}
